{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">关于我</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'img/me.jpg' %}" alt="Developer Image">
								</figure>
                                <p>- 熟练使用Python，一年编写网络爬虫与后端开发经验；</p>
                                <p>- 掌握Scrapy，django框架的使用；</p>
                                <p>- 熟练使用Python各种第三方库的使用；</p>
                                <p>- 熟练使用正则表达式和CSS选择器，熟悉XPATH;</p>
                                <p>- 熟悉HTML/CSS；</p>
                                <p>- 熟悉Linux平台，目前使用Unbutu16.04；</p>
                                <p>- 熟悉HTTP协议</p>
                                <p>- 通过CET-4，善于使用百度、Google、stackoverflow解决出现的问题</p>
							<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
									<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
									<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
									<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
									<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
								</ul>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
{% endblock %}

